# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
*.ipynb
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
logs/
*.log

# Data
experiments/data/
results/

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db

# Paper
*.aux
*.out
*.toc
*.pdf
*.log

# Misc
*.swp
*.bak
